<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Customer To Database</title>
<style>
	form {
		border-bottom: 1px solid black;
	}
	body {
		padding: 80px;
		background-color: skyblue;
		display: block;
		height: 300px;
		text-align: center;
	}
	table, th, td {
		border: 1px solid black;
		text-align: center;
		border-collapse: separate;
		background-color: lightgray;
		padding: 2px;
		color: navy;
		margin: auto;
	}
</style>
</head>
<body>
	<h1>Add Customer</h1>
	<form th:object="${newCustomer}" method="POST">
		<table>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
			<tr>
				<td><input name="FirstName" type="text" size="20" th:field="*{firstName}"></td>
				<td><input name="LastName" type="text" size="20" th:field="*{lastName}"></td>
			</tr>
		</table>
		<br>
		<input name="submit" type="submit" value="Submit">
		<p></p>
	</form>
	<br>
	<a href="/viewCustomers"><button>View Customers</button></a>
	<br><br>
	<a href="/index.html"><button>Home</button></a>
</body>
</html>
