<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search By Make</title>
<style>
	form {
		border-bottom: 1px solid black;
	}
	body {
		padding: 80px;
		background-color: skyblue;
		display: block;
		height: 300px;
		text-align: center;
	}
	table, th, td {
		border: 1px solid black;
		border-radius: 2px;
		text-align: center;
		border-collapse: separate;
		background-color: lightgray;
		padding: 2px;
		color: black;
		margin: auto;
	}
</style>
</head>
<body>
	<h1>Search by Make</h1>
	<form action="#" th:object="${makeObject}" th:action="@{/byMake/{make}(make=${makeObject.make})}" method="post">
		<table>
			<tr>
				<th>Make</th>
			</tr>
			<tr>
				<td><input name="make" type="text" size="20" th:field="*{make}"></td>
			</tr>
		</table>
		<br>
		<input name="submit" type="submit" value="Search">
	</form>
	<br>
	<a href="/vehicleResults"><button>View Vehicles</button></a>
	<br><br>
	<a href="/index.html"><button>Home</button></a>
</body>
</html>