<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sales List</title>
</head>
<body>
	<form>
		<table>
			<tr>
				<th>ID</th>
				<th>firstName</th>
				<th>lastansme</th>
				<th>vehicleName</th>

				<th colspan="2">Options</th>
			</tr>
			<tr th:each="currentSales : ${sales}">
				<td th:text="${currentSales.id}" ></td>
				<td th:text="${currentSales.firstName}"></td>
				<td th:text="${currentSales.lastName}"></td>
				<td th:text="${currentSales.vehicleName}"></td>
				<td><a th:href="@{/edit/{id}(id=${currentsales.id})}">Edit</a></td>
				<td><a th:href="@{/deleteSales/{id}(id=${currentSales.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<br>

		<a href="/inputSales"><button>Add Sales</button></a>
	<a href="/index.html"><button>Home</button></a>

</body>
</html>