<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Sales Person Home page</title>
</head>
<body>
	<div align="center">
		<h1>Sales List</h1>
		<table border="1">
			<thead>
				<tr>
					<th>Sales Person first name</th>
					<th>Sales Person last name</th>
					<th>Vehicle name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="salesPerson: ${listOfSales}">   <!-- thymeleap directory -->
					<td th:text="${salesPerson.firstName}"></td>   <!--thimeleap expression  -->
					<td th:text="${salesPerson.lastName}"></td>
					<td th:text="${salesPerson.VehicleName}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>