<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<style>	
	a:hover {
		background-color: yellow;
	}
	body {
		padding: 80px;
		background-color: skyblue;
		display: block;
		height: 300px;
		text-align: center;
	}
	table, th, td {
		border: 1px solid black;
		text-align: center;
		border-collapse: separate;
		font-weight: bold;
		padding: 2px;
		color: navy;
		margin: auto;
		width: 80vw;
	}
	tr:nth-of-type(even) {
		background-color: silver;
	}
	tr:nth-of-type(odd) {
		background-color: lightgray;
	}
</style>
<meta charset="ISO-8859-1">
<title>Inventory List</title>
</head>
<body>
	<form>
		<table>
			<tr>
				<th>ID</th>
				<th>Make</th>
				<th>Model</th>
				<th>Color</th>
				<th>Price</th>
				<th colspan="2">Options</th>
			</tr>
			<tr th:each="currentVehicle : ${vehicles}">
				<td th:text="${currentVehicle.id}" ></td>
				<td th:text="${currentVehicle.make}"></td>
				<td th:text="${currentVehicle.model}"></td>
				<td th:text="${currentVehicle.color}"></td>
				<td th:text="${#strings.replace(#numbers.formatCurrency(currentVehicle.price), '.00', '')}"></td>
				<td><a th:href="@{/edit/{id}(id=${currentVehicle.id})}">Edit</a></td>
				<td><a th:href="@{/deleteVehicle/{id}(id=${currentVehicle.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<br>
	<a href="/addVehicle"><button>Add Vehicle</button></a>
	<a href="/index.html"><button>Home</button></a>
</body>
</html>