<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search by vehicle name</title>
</head>
<body>                                                                   
<h1>Search by vehicle Name</h1>
	<form action="#" th:object="${vehicleNameObject}" th:action="@{/byVehicleName/{vehicleName}(vehicleName=${vehicleNameObject.vehicleName})}" method="post" name="vehicleNameSearchForm" onsubmit="return inputValid()">
		<table>
			<tr>
				<th>Vehicle Name</th>
			</tr>
			<tr>
			
				<td><input name="vehicleName" type="text" size="20" th:field="*{vehicleName}"></td>
			</tr>
		</table>
		<br>
		<input name="submit" type="submit" value="Search by Name">
	</form>
	<br>
	<a href="/salesResults"><button>View Sales</button></a>
	<br><br>
	<a href="/index.html"><button>Home</button></a>
	
</body>
</html>